{{template "header" .}}

<main>
  <aside>
    <p><br /></p>
    <span class="aside_nav">
      <h5>Menu</h5>
      <rz-navmenu
        current_id="main"
        json_url="/assets/rz-navmenu.json"
      ></rz-navmenu>
    </span>
  </aside>
  <div class="content">
    <h1 data-i18n-key="Web-Components">Web-Components</h1>
    <p>{{ .title }}</p>
  </div>
  <div class="aside_right">
    <p><br /></p>
    <h5>&nbsp;</h5>
    <span class="txt-right">
      <p class="brief"><rz-datetime></rz-datetime></p>
    </span>
  </div>
</main>

{{template "footer" .}}
